<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap demo</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <div class="col-md-2 mb-2 mb-md-0 text-center">
        <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">Логотип</a>
      </div>
    
      <div class="col-md-3 text-end">
        <button type="button" class="btn btn-outline-primary me-2">Войти</button>
        <button type="button" class="btn btn-primary">Регистарция</button>
      </div>
    </header>
    
    <div class="d-grid gap-4" style="grid-template-columns: 0.5fr 2fr;">
      <div class="bg-body-tertiary border rounded-3 p-3">
        <ul class="nav nav-pills flex-column mb-auto text-center">
          <li class="nav-item">
            <a href="#" class="nav-link active" aria-current="page">Свежее</a>
          </li>
          <li>
            <a href="#" class="nav-link link-body-emphasis">Топ</a>
          </li>
          <li>
            <a href="#" class="nav-link link-body-emphasis">Избранное</a>
          </li>
        </ul>
        <hr>
        <form role="search">
          <input type="search" class="form-control" placeholder="Поиск..." aria-label="Search">
        </form>
      </div>

      <div class="bg-body-tertiary border rounded-3">
        Content
      </div>
    </div>
  </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>