{% extends 'base.html' %}

{% block title %}
Добавление рецепта
{% endblock %}

{% block content %}
<div class="col-md-10 col-sm-12">
    <div class="posts-header border rounded-3 p-2 text-center mb-3">
        <h5>Добавление рецепта</h5>
    </div>
    <div class="rounded-1 p-1">
        <div class="card mb-3">
            <div class="card-header">
                <h5>Форма</h5>
            </div>
            <div class="card-body">
                <p class="card-text">
                    <form action="{{ url_for('recipe.process_add_recipe') }}" method="post">
                        {{ form.hidden_tag() }}
                        <div class="form-floating mb-3">
                            {{ form.title(class_="form-control", id_="floatingInput") }}
                            {{ form.title.label(for="floatingInput") }}
                        </div>
                        <div class="form-floating mb-3">
                            {{ form.decription_recipe(class_="form-control", id_="floatingInput") }}
                            {{ form.decription_recipe.label(class_="form-label", for="floatingInput") }}
                        </div>
                        <div class="form-floating mb-3">
                            {{ form.steps_recipe(class_="form-control", id_="floatingTextarea2") }}
                            {{ form.steps_recipe.label(class_="form-label", for="floatingTextarea2") }}
                        </div>
                        <div class="form-floating mb-3">
                            {{ form.servings(class_="form-control", id_="floatingInput") }}
                            {{ form.servings.label(class_="form-label", for="floatingInput") }}
                        </div>
                        <div class="form-floating mb-3">
                            {{ form.time_cooking(class_="form-control", id_="floatingInput") }}
                            {{ form.time_cooking.label(class_="form-label", for="floatingInput") }}
                        </div>
                        <p>
                            {{ form.submit(class_="btn btn-primary") }}
                        </p>
                    </form>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}