{% extends 'base.html' %}

{% block title %}
Поиск рецепта
{% endblock %}

{% block content %}
<div class="col-md-10 col-sm-12">
    <div class="posts-header border rounded-3 p-2 text-center mb-3">
        <h5>Поиск</h5>
    </div>
    <div class="rounded-1 p-1">
        <div class="card mb-3">
            <div class="card-header">
                <h5>Форма</h5>
            </div>
            <div class="card-body">
                <p class="card-text">
                    <form class="row" action="{{ url_for('search_results') }}" method="GET">
                        <div class="col-auto">
                            <input type="text" class="form-control" placeholder="Поиск" name="q" value="{{ request.args.get('q', '') }}">
                        </div>
                        <div class="col-auto">
                            <input class="btn btn-primary" id="submit" type="submit" value="Найти">
                        </div>
                    </form>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}