{% extends 'base.html' %}

{% block content %}
<div class="col-md-10 col-sm-12">
    <div class="posts-header border rounded-3 p-2 ps-4 mb-3">
        <h5>{{ page_title }}</h5>
    </div>
    <img 
        src="{{ current_user.image_user }}"                
        alt="photo"
        class="rounded-circle"
        width="128"
        height="128"
    />
    <b>Юзернейм: {{ current_user.username }}</b>
    <p><b>Фамилия имя:</b>
    <b style="text-transform:capitalize"> {{ current_user.full_name }}</b></p>
</div>
{% endblock %}